body{
    margin: 0;
    padding-top: 710px;
    text-align: center;
}

.profile {
border-radius: 50%;
width: 300px;
}
#welcome {
    position: absolute;
    bottom: 0;
    background: linear-gradient(cyan 0%, rgb(198, 50, 198) 33%, rgb(48, 154, 159) 70%, rgb(113, 255, 113) 100%);
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Protest Riot', sans-serif;
    font-weight: 300;
}
h3{
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}
#name {
    font-size: 40px;
    font-family: 'Protest Riot', sans-serif;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
#bio{
   font-family: serif;
    padding: 50px;
}

.parrallax-inner {
    display: table-cell;
    vertical-align: middle;
}
.menu{
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    color: cadetblue !important;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover {
    font-size: 25px;
    text-decoration: underline;
}
.line{
    height: 6px;
    background-color: black;
    width: 80px;
    margin: 8px auto;

}
#writings a {
    text-decoration: underline !important;
    color: cadetblue !important;
}
#contact{
    background: lightgray;
}
.contact_1 h3
{
    display: inline;
}